*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    height: 60px;
    background-color: rgb(3, 99, 213);
    border-bottom: 2px solid #77abe8;
    box-sizing: border-box;
}
button{
    background-color: rgb(3, 99, 213);
    color: white;
    padding: 12px;
    border-radius: 5px;
    width: 13%;
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid #a9caf1;
}
button#create{
    width: 20%;
}
#sections{
    display: flex;
}
.section2{
    text-align: center;
    width: 85%;
}
.section1{
    width: 20%;
    text-align: center;
    border-right: 2px solid #c7c7c7;
    height: auto;
}
.box{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 10px;
}
img{
    width: 30px;
    height: 30px;
}
img#logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
a:visited .box, a:hover .box{
    background-color: #dfecfc;
}
a{
    text-decoration: none;
    color: black;
}
.box1 img{
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
}
.box1{
    position: relative;
    top: 20%;
    line-height: 35px;
    text-align: center;
}
div#result{
    margin-top: 10px;
    height: auto;
    padding: 7px;
}
@media (min-width: 700px) and (max-width: 900px){
    .section1{
        width: 20%;
    }
    div#result, .section2{
        overflow-x: scroll;
    }
}
@media (min-width: 499px) and (max-width: 699px){
    .section1{
        width: 25%;
    }    
    button{
        width: 100px;
    }
    button#create{
        width: 120px;
    }
    div#result, .section2{
        overflow-x: scroll;
    }
}
@media (min-width: 275px) and (max-width: 498px){
    .section1{
        width: 45%;
    }
    button{
        width: 100px;
    }
    button#create{
        width: 120px;
    }
    div#result, .section2{
        overflow-x: scroll;
    } 
}
@media (min-width: 200px) and (max-width: 274px){
    .section1{
        width: 50%;
    }
    button{
        width: 100px;
    }
    button#create{
        width: 120px;
    }
    div#result, .section2{
        overflow-x: scroll;
    }
}
